<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>404</title>
</head>
<body>
    <%- include('../layout/header') %> 
    <h1 id="error">404</h1>
    <h1 id="error">SORRY PAGE NOT FOUND</h1>

    <%- include('../layout/footer') %> 
</body>
</html>