<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../layout/header') %> 
    <% comments.forEach((comment) => { %>
     <div id="comContainer">
        <img src="/profle.jpg" >
        <p id="comment"><%= comment.body %> </p>
     </div>
    <% }) %> 
    
    <form action='/blogs/comments' method="POST">
        <textarea name="body" rows="8" cols="70" placeholder="Add comment"></textarea>
        <br>
        <button type="submit" id="comBut">Post</button>
    </form>
</body>
</html>