<nav id="nav">
    <a href="/" id="logo"><h1>My blog</h1></a>
   <div> 
    <a href="/" id="aNav">Home</a>
    <a href="/blogs" id="aNav">Blogs</a>
    <a href="/blogs/create" id="aNav">Create</a>
    <a href="/blogs/comments" id="aNav">Comments</a>
   </div>
</nav>